# Ignore anything in Result directory
Result/

# Ignore extra project files for M01 and M06
M01_M3ENP/M01_template.his
M01_M3ENP/M01_template.txp
M06_M3ENP_SF/M06_template.his
M06_M3ENP_SF/M06_template.txp

# Ignore files created when running the M01 model
M01_M3ENP/M01_V09/M01_V09xx_00WM/M01_V09xx_00WM.log
M01_M3ENP/M01_V09/M01_V09xx_00WM/M01_V09xx_00WM_PP.log
M01_M3ENP/M01_V09/M01_V09xx_00WM/M01_V09xx_00WM_WM.log
M01_M3ENP/M01_V09/M01_V09xx_00WM/MSHE_WM-Info.Log
M01_M3ENP/M01_V09/M01_V09xx_00WM/MSHE_WM-SimStat.Log
M01_M3ENP/M01_V09/M01_V09xx_00WM/MSHE_WM.Log
M01_M3ENP/M01_V09/M01_V09xx_00WM/MSHE_WMM11Progress.log
M01_M3ENP/M01_V09/M01_V09xx_00WM/MSHE_WMVolumeBalance.HTML

# Ignore files created when running the M06 model
M06_M3ENP_SF/M06_V01/M06_V01xx_00WM_CAL/M06_V01xx_00WM_CAL.log
M06_M3ENP_SF/M06_V01/M06_V01xx_00WM_CAL/M06_V01xx_00WM_CAL_PP.log
M06_M3ENP_SF/M06_V01/M06_V01xx_00WM_CAL/M06_V01xx_00WM_CAL_WM.log
M06_M3ENP_SF/M06_V01/M06_V01xx_00WM_CAL/MSHE_WM-Info.Log
M06_M3ENP_SF/M06_V01/M06_V01xx_00WM_CAL/MSHE_WM-SimStat.Log
M06_M3ENP_SF/M06_V01/M06_V01xx_00WM_CAL/MSHE_WM.Log
M06_M3ENP_SF/M06_V01/M06_V01xx_00WM_CAL/MSHE_WMM11Progress.log
M06_M3ENP_SF/M06_V01/M06_V01xx_00WM_CAL/MSHE_WMVolumeBalance.HTML


# Ignore LaTeX files created when compiling LaTeX report
M06_M3ENP_SF/M06_V01/M06_V01xx_00WM_CAL/ENP_LaTeX/latex/0.bibliography.aux
M06_M3ENP_SF/M06_V01/M06_V01xx_00WM_CAL/ENP_LaTeX/latex/0.main.aux
M06_M3ENP_SF/M06_V01/M06_V01xx_00WM_CAL/ENP_LaTeX/latex/0.main.bbl
M06_M3ENP_SF/M06_V01/M06_V01xx_00WM_CAL/ENP_LaTeX/latex/0.main.blg
M06_M3ENP_SF/M06_V01/M06_V01xx_00WM_CAL/ENP_LaTeX/latex/0.main.log
M06_M3ENP_SF/M06_V01/M06_V01xx_00WM_CAL/ENP_LaTeX/latex/0.main.out
M06_M3ENP_SF/M06_V01/M06_V01xx_00WM_CAL/ENP_LaTeX/latex/0.main.pdf
M06_M3ENP_SF/M06_V01/M06_V01xx_00WM_CAL/ENP_LaTeX/latex/0.main.synctex
M06_M3ENP_SF/M06_V01/M06_V01xx_00WM_CAL/ENP_LaTeX/latex/0.main.toc
M06_M3ENP_SF/M06_V01/M06_V01xx_00WM_CAL/ENP_LaTeX/latex/0.report_data.aux
M06_M3ENP_SF/M06_V01/M06_V01xx_00WM_CAL/ENP_LaTeX/latex/0.sfnrc_style.aux
M06_M3ENP_SF/M06_V01/M06_V01xx_00WM_CAL/ENP_LaTeX/latex/4.m11_structure.aux
M06_M3ENP_SF/M06_V01/M06_V01xx_00WM_CAL/ENP_LaTeX/latex/5.m11_operations.aux

